.footer {
    padding: 1rem;
    background: var(--color-white);
    border-radius: 20px 20px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.footer section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.footer h2 {
    font-weight: 500;
    border-bottom: solid 2px var(--background);
    width: fit-content;
    margin-bottom: 1rem;
}


.footer section a {
    color: var(--background);
}