.homepage {
    margin: 1rem 0;
    padding: 1rem;
    min-height: 100vh;
    background: var(--color-transparent);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    color: var(--color-white);
}

.homepage .content {
    align-self: center;
}

.homepage h2 {
    font-weight: 400;
    font-size: 64px;
    background: linear-gradient(to right, var(--background), lightblue, var(--background), var(--color-white), var(--background));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px #0055ff58;
    background-size: 200%;
    animation: animate-gradient 10s linear infinite;
}

@keyframes animate-gradient {
    to {
        background-position: 200%;
    }
}

.homepage p {
    text-align: end;
    color: var(--color-grey);
}

.homepage .cards {
    display: grid;
    gap: 8px;
}

.homepage .card {
    position: relative;
    background: var(--color-transparent);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-size: 32px;
    transition: 0.3s ease-in-out;

}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.homepage .card::after,
.homepage .card::before {
    content: '';
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding: 1px;
    background: conic-gradient(from var(--angle), var(--background), var(--color-grey), var(--color-white), var(--color-transparent), var(--background));
    -webkit-mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
    animation: 10s spin linear infinite;
    box-sizing: border-box;
}

.homepage .card:nth-child(2)::after {
    background: conic-gradient(from var(--angle), var(--color-white), var(--color-transparent), var(--color-grey), rgba(0, 187, 255, 0.523), var(--color-white));
    z-index: -1;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.homepage .card:hover {
    color: var(--background);
    background: rgba(1, 1, 1, 0.5);
}



@media (max-width: 1000px) {
    .homepage {
        text-align: center;
        grid-template-columns: 1fr;
    }

    .homepage h2 {
        font-size: 48px;
    }

    .homepage p {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .homepage {
        grid-template-columns: 1fr;
    }

    .homepage h2 {
        text-align: center;
        font-size: 32px;
    }

    .homepage p {
        text-align: center;
    }

    .homepage .card {
        font-size: 24px;
    }
}