.quiz {
    min-height: 100vh;
    background: var(--color-transparent);
    margin: 1rem 0;
    border-radius: 20px;
    padding: 1rem;
    color: var(--color-white);
}

.quiz h1 {
    font-weight: 400;
    border-bottom: var(--color-border) 1px solid;
    margin-bottom: 1rem;
    color: var(--background);
}

.quiz h3 {
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.quiz .answers {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 1rem;
}

.quiz .answer {
    color: var(--color-grey);
    border: var(--color-border) solid 1px;
    background: var(--color-transparent);
    border-radius: 20px;
    padding: 0.75rem 1rem;
    width: 75%;
    transition: 0.3s;
    cursor: pointer;
    text-align: start;
}

.quiz .answer:hover {
    color: var(--color-white);
    background: var(--color-black);
}

.quiz .backBtn {
    color: var(--color-grey);
    transition: 0.3s;
}

.quiz .backBtn:hover {
    color: var(--color-white);
}

.correct {
    border-color: green !important;
    background: rgba(0, 255, 0, 0.1) !important;
    color: green !important;
}

.incorrect {
    border-color: red !important;
    background: rgba(255, 0, 0, 0.1) !important;
    color: red !important;
}

.answer:disabled {
    opacity: 0.6;
}




.loading {
    height: 100vh;
    color: var(--color-white);
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.loading h1 {
    font-weight: 400;
}

.loading span {
    animation: loading 1.4s infinite ease-in-out;
}

.loading span:nth-child(2) {
    animation-delay: -0.32s;
}

.loading span:nth-child(3) {
    animation-delay: -0.16s;
}



@keyframes loading {

    20%,
    60%,
    80%,
    100% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

@media (max-width: 500px) {
    .quiz .answer {
        width: 100%;
    }
}